* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    /*background-color: white;*/
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: Montserrat, sans-serif !important;
    overflow-x: hidden;
}

/*                     NAV            (masla over here)      */

#empty{
    display: grid;
    /*grid-template-rows: 5vh ;*/
    grid-template-columns: 1fr 1fr;
}

.yo {
    height: 10vh;
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 100 ;
}

.fa-user{
    font-size: 19px;
}
.nav-colored{
    background-color: white;
    transition: background-color 1s linear;
}

.nav-transparent{
    background-color: transparent;
    transition: background-color 1s linear;
}

/* CHANGED */
.drop-shadow{
    -webkit-box-shadow: 0px 1px 21px 2px rgba(194,179,194,1);
    -moz-box-shadow: 0px 1px 21px 2px rgba(194,179,194,1);
    box-shadow: 0px 1px 21px 2px rgba(194,179,194,1);
}

/* and masla over here too */
.logo{
    align-content: center;
    position: absolute;
    height: 100%;
    padding: 0;
}
.logo img{
    width: 251px;
    height: 10vh;
    padding: 0;
}
div .logo{
    width: fit-content;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 0 20px;
}

.cool-link::after{
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.3s;
}

.cool-link:hover::after{
    width: 100%;
    transition: width 0.3s;

}


i.fa-user::after{
    content: 'SIGN IN';
    background-color: hotpink;
}


/*           CATEGORY DIV                  */

#cat {
    /* background-color: brown; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 3em 0em 1em 7em;
    text-align: center;
    /*border-bottom: 2px solid black;*/
    width: 90vw;
    top: 100vh;
}

#cat li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

li{
    list-style: none;
}


#line {
    background-color: black;
    width: 80vw;
    height: 1px;
    margin-left: 10vw;
}

/*                 IMAGES DIV               */


#ima {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 1em 0;
    /*border: 2px solid green;*/
}


#ima p{
    /*background-color: deeppink;*/
    text-align: center;
    font-size: 19px;
}





#images {
    /*background-color: whitesmoke;*/
    /*border: 2px solid orange;*/
    padding: 0 10em;
    width: 100vw;
}





#ima li{
    display: grid;
    /*border: 2px solid #3b5998;*/
}

#ima li img {
    width: 100%;
    height: auto;
    place-self: center;
    /*border: 2px solid darkred;*/



}
#ima a{
    /*border: 2px solid black;*/
    /*background-color: orange;*/
    place-self: center;
    width: 80%;
}

/*         HOVER EFFECT FOR IMAGES     */

.cool-link1::after{
    content:'';
    display: block;
    width: 0%;
    border-bottom: 2px solid black;
    transition: width 0.3s;

}

.cool-link1:hover::after{
    border-bottom: 2px solid black;
    width: 100%;
}
.cool-link1::before{
    content:'';
    display: block;
    width: 0%;
    border-bottom: 2px solid black;
    transition: width 0.3s;

}

.cool-link1:hover::before{
    border-bottom: 2px solid black;
    width: 100%;
}



li a{
    display: inline-block;
}





/*         the image at the end           */
#abaya-image{
    display: grid;
    grid-template-rows: 350px 1fr ;
    padding: 1em 0;
}

#abaya-image img{
    width: 100%;
    height: 50vh;
    display: block;
}



    /*            FOOTER                */




    #footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        background-color: white;
        padding: 2em;

    }

    #footer-container h3{
        text-align: center ;
    }

    #about{
        padding-right: 1em ;
    }

#contact {
    padding-left: 2em;
}


.footer-bottom{
    display: grid;
    grid-template-rows: 20px;
    background-color: #EDC9AF;
    text-align: center;
}






    .fa-envelope{
        font-size: 20px;
    }

    .fa-map-marker-alt{
        font-size: 20px;
    }


    .fa-phone{
        font-size: 20px;
    }

    .fa-globe{
        font-size: 20px;
    }

    .fa-youtube{
        color: red;
        font-size: 50px;
    }

    .fa-facebook{
        color: #3b5998;
        font-size: 50px;
    }

    .fa-twitter-square {
        color: #00acee;
        font-size: 50px;
    }